.img {
    position: absolute;
    width: 100px; /* Размер изображения */
    animation: moveAndRotate 8s linear infinite;
    transform-origin: center; /* Вращение вокруг центра */
}



@keyframes moveAndRotate {
    0% {
        left: 0;
        transform: translateX(0) rotate(0deg);
    }
    40% {
        transform: translateX(calc(100vw - 100px)) rotate(0deg);
    }
    50% {
        transform: translateX(calc(100vw - 100px)) rotate(180deg);
    }
    90% {
        transform: translateX(0) rotate(180deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}
.image1 {
    width: 100px;
    height: 100px;

    left: 0;
    animation: moveAndRotate 6s linear infinite;
    transform-origin: center;


}